# Line Ending Normalization --resolves linux+windows dev conflict
* text=auto eol=lf
# Do not treat image files as text --less annoying diffs
*.png -text
*.ico -text
*.jpg -text
*.webp -text
*.jpeg -text
*.gif -text
# binary ui fonts --prevents corruption
*.ttf binary
*.woff binary
*.otf binary
*.woff2 binary


# This was built by referencing Kivy a popular open-source Python GUI framework.
# Find it here: https://github.com/kivy/kivy/blob/master/.gitattributes
